
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #fff;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.border-bottom-primary {
    border-bottom: 1px solid #6096B4 !important;
}

.border-end-primary {
    border-right: 1px solid #6096B4 !important;
}

.border-primary {
    border-bottom: 1px solid #6096B4 !important;
}

.vh-90 {
    height: 90vh;
}
.vh-95 {
    height: 95vh;
}

.h-12 {
    height: 12%;
}



.h-88 {
    height: 88%;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.btn-primary {
    background: #6096B4 !important;
}

.btn {
    border: unset !important;
}

/* list */
li.list-group-item {
    transition: background .32s ease-in;
}
li.list-group-item:hover {
    background: #262A56 !important;
}

.convoListImg {
    width: 35px;
}


.login-content {
  background: #2f3242;
  width: 550px;
  margin: 5% auto;
}

.card-body {
    border-radius: 5px 5px 0 0;
    height: 500px;
}

.card-body-shadow {
    box-shadow: .8rem 1.8rem 1rem rgba(0,0,0,.65)!important;
}

.nav-shadow {
    box-shadow: 0.8rem .8rem 1rem rgba(0,0,0,.65)!important;
}

.text-logo-container {
    height: 150px;
}

.text-logo h1{
  text-align: center;
  font-weight: bold;
  font-size: 52px;
}
.btn {
  font-size: 22px;
  border: none;
  width: 18rem;
  height: 3rem;
  border-radius: 5px;
}

.form-control {
    width: 100% !important;
    height: 100% !important;
}

.nomember {
  padding: 10px;
  padding-top: 20px;
  border-top: 1px solid white;
  border-radius: 0px 0px 5px 5px;
}

.nomember a {
  text-decoration: none;
  color: #6096B4;
}

.forgot a {
  text-decoration: none;
  font-size: 14px;
  color: #6096B4;
}




/*  */

.chat-name-container {
    height: 8%;
}


.chat-message-container {
    height: 80%;
    position: relative;
}

.chat-submit-container {
    height: 12%;
}

/* chat body */

.chat-message-wrapper {
    display:flex;
    width: 100%;
    margin-bottom: 1rem;

}

.chatters-info-container {
    width: 10%;
}

.chatters-info-container .chatters-img {
    display: flex;
    justify-content: center;
}

.chatters-message-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    
}

.sender .chatters-message-container {
    align-items: flex-end;
}

.reply .chatters-message-container {
    align-items: flex-start;
}


.chatters-message-container span {
    margin-top: 10px;
}


.chatters-message-wrapper {
    padding: 1rem;
    
}

.chatters-message-wrapper p {
    margin: 0;
}

.chat-message-wrapper.reply {
    flex-direction: row;
    
}

.chat-message-wrapper.sender {
    flex-direction: row-reverse;
}

.sender .chatters-message-wrapper p{
    text-align: start;
}

.reply .chatters-message-wrapper {
    border-radius: 0px 30px 30px 30px;
    background: #262A56;
}

.sender .chatters-message-wrapper {
    border-radius: 30px 0px 30px 30px;
    background: #6096B4;
}

